{:kotoba.app/id "cloud.itonami.app-manabi-cert-prep", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifap6yyk64gudfz3qko72kfrewph6e23j7xorgfcundzhgh653r5m", :kotoba.app/embed-url "ipfs://bafkreifap6yyk64gudfz3qko72kfrewph6e23j7xorgfcundzhgh653r5m", :published {:archive "https://kotobase.net/ipfs/bafkreifap6yyk64gudfz3qko72kfrewph6e23j7xorgfcundzhgh653r5m", :size 3421, :put-status 201, :get-status 200, :at "2026-08-15T13:48:55.994Z"}}
