{:kotoba.app/id "cloud.itonami.app-manabi-cert-prep", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifap6yyk64gudfz3qko72kfrewph6e23j7xorgfcundzhgh653r5m", :kotoba.app/embed-url "ipfs://bafkreifap6yyk64gudfz3qko72kfrewph6e23j7xorgfcundzhgh653r5m", :published {:archive "https://kotobase.net/ipfs/bafkreifap6yyk64gudfz3qko72kfrewph6e23j7xorgfcundzhgh653r5m", :size 3421, :put-status 201, :get-status 200, :at "2026-08-15T13:48:55.994Z", :own-nodes {:cid "bafybeiabbdf7rkjpvxbeoyokes7tt7a7fn3uqd5fmqlxrpjrngp5kandsi", :ipns "k51qzi5uqu5djvvchjx52912hkh7w1a6ad2ey2o0qdlrk6nd8xgigt4sdgsipa", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:04:19Z"}}, :kotoba.app/latest "k51qzi5uqu5djvvchjx52912hkh7w1a6ad2ey2o0qdlrk6nd8xgigt4sdgsipa", :kotoba.app/site-cid "bafybeiabbdf7rkjpvxbeoyokes7tt7a7fn3uqd5fmqlxrpjrngp5kandsi"}
